absl-py==2.1.0
accelerate==0.34.2
accelerated-scan==0.2.0
aclruntime==0.0.2
addict==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiohttp-cors==0.8.1
aiosignal==1.3.2
airportsdata==20250706
ais_bench==0.0.2
alabaster==1.0.0
alembic==1.17.1
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
altair==5.5.0
aniso8601==10.0.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
asciitree==0.3.3
asteroid-filterbanks==0.4.0
astor==0.8.1
asttokens==3.0.0
async-timeout==5.0.1
attrdict==2.0.1
attrs==24.2.0
audioread==3.0.1
auto_tune==0.1.0
av==15.0.0
babel==2.17.0
backports-datetime-fromisoformat==2.0.3
bcrypt==5.0.0
beautifulsoup4==4.13.4
bitsandbytes==0.46.0
black==24.10.0
blake3==1.0.5
blinker==1.9.0
boto3==1.40.69
botocore==1.40.69
braceexpand==0.1.7
bracex==2.6
Brotli==1.1.0
cachetools==5.5.2
catalogue==2.0.10
cdifflib==1.2.6
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.3.0
clip==0.2.0
cloudpickle==3.0.0
cmake==4.0.3
codetiming==1.4.0
colorama==0.4.6
coloredlogs==15.0.1
colorful==0.5.7
colorlog==6.10.1
comm==0.2.2
compressed-tensors==0.10.1
confluent-kafka==2.10.1
conformer==0.3.2
contextlib2==21.6.0
contourpy==1.3.0
coverage==7.11.3
cpm-kernels==1.0.11
crcmod==1.7
cryptography==42.0.8
ctc_segmentation==1.7.4
cuda-bindings==13.0.3
cuda-core==0.4.1
cuda-pathfinder==1.3.2
cuda-python==13.0.3
cycler==0.12.1
Cython==3.2.0
cytoolz==1.1.0
dacite==1.9.2
dataflow==0.0.1
datasets==3.5.0
debugpy==1.8.15
decorator==5.1.1
decord==0.6.0
deepspeed==0.14.2
defusedxml==0.7.1
Deprecated==1.3.1
depyf==0.18.0
diffusers==0.27.2
dill==0.3.7
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
docopt==0.6.2
docstring_parser==0.17.0
docutils==0.21.2
easydict==1.13
editdistance==0.8.1
einops==0.8.1
einops-exts==0.0.4
email_validator==2.2.0
et-xmlfile==1.1.0
evaluate==0.4.5
exceptiongroup==1.3.0
executing==2.2.0
fabric==3.2.2
faiss-cpu==1.12.0
fastapi==0.111.0
fastapi-cli==0.0.4
fastapi-cloud-cli==0.1.2
fasteners==0.20
ffmpy==0.6.0
fiddle==0.3.0
filelock==3.16.1
fire==0.7.0
Flask==3.1.1
Flask-RESTful==0.3.10
flatbuffers==25.2.10
fonttools==4.54.1
frozenlist==1.7.0
fsspec==2023.10.0
ftfy==6.3.1
func_timeout==4.3.5
future==1.0.0
fuzzywuzzy==0.18.0
gast==0.6.0
gdown==5.1.0
gevent==24.2.1
geventhttpclient==2.3.1
gguf==0.17.1
gin-config==0.5.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.25.1
google-auth==2.40.3
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.70.0
gradio==4.32.2
gradio_client==0.17.0
graphviz==0.21
greenlet==3.1.1
grpcio==1.57.0
grpcio-tools==1.57.0
h11==0.16.0
h2==4.2.0
h5py==3.14.0
hccl==0.1.0
hccl_parser==0.1
hf-xet==1.1.5
hjson==3.1.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.34.4
human-eval==1.0.3
humanfriendly==10.0
hydra-core==1.3.2
Hypercorn==0.17.3
hyperframe==6.1.0
HyperPyYAML==1.2.2
icetk==0.0.4
idna==3.10
ijson==3.4.0.post0
imageio==2.37.0
imagesize==1.4.1
immutabledict==4.2.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
indic_numtowords==1.1.0
inflect==7.3.1
iniconfig==2.1.0
inquirerpy==0.3.4
interegular==0.3.3
intervaltree==3.1.0
invoke==2.2.1
ipykernel==6.30.0
ipython==8.37.0
isort==5.13.2
itsdangerous==2.2.0
Janome==0.5.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.4
jiter==0.10.0
jiwer==3.1.0
jmespath==1.0.1
joblib==1.4.2
json5==0.12.0
jsonlines==4.0.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
julius==0.2.7
jupyter_client==8.6.3
jupyter_core==5.8.1
kaldi-native-fbank==1.22.3
kaldi-python-io==1.2.2
kaldialign==0.9.1
kaldiio==2.18.1
kiwisolver==1.4.7
kornia==0.8.2
kornia_rs==0.1.10
langdetect==1.0.9
lark==1.2.2
latex2mathml==3.77.0
latex2sympy2_extended==1.0.6
latexcodec==3.0.1
lazy_loader==0.4
ledoc-ui==0.1.0
leptonai==0.26.7
Levenshtein==0.27.1
lhotse==1.31.1
libclang==18.1.1
libcst==1.8.6
librosa==0.10.2
lightning==2.5.0
lightning-utilities==0.14.3
lilcom==1.8.1
llguidance==0.7.30
llm_datadist==0.0.1
llvmlite==0.44.0
lm-format-enforcer==0.10.11
loguru==0.7.2
lxml==5.3.0
Mako==1.3.10
Markdown==3.7
markdown-it-py==3.0.0
markdown2==2.5.4
MarkupSafe==2.1.5
marshmallow==4.1.0
math-verify==0.5.2
mathruler==0.1.0
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdtex2html==1.3.0
mdurl==0.1.2
mediapy==1.1.6
megatron-core==0.14.0
megatron-energon==5.2.0
mistral_common==1.7.0
ml_dtypes==0.5.0
mmengine-lite==0.10.7
model-wrapper==1.1.3
modelscope==1.31.0
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.1
msgspec==0.19.0
msguard==0.0.4a2
msit==8.1.0
msmodelslim==8.0rc1
msobjdump==0.1.0
msprechecker==0.0.7
multi-storage-client==0.34.0
multidict==6.6.0
multiprocess==0.70.15
mypy_extensions==1.1.0
narwhals==1.46.0
nemo_run==0.6.0
nemo_text_processing==1.1.0
nemo-toolkit==2.7.0rc0
nerfacc==0.5.3
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.4
nltk==3.9.1
num2words==0.5.14
numba==0.61.2
numba-cuda==0.20.1
numcodecs==0.13.1
numexpr==2.13.1
numpy==1.26.4
nv-one-logger-core==2.3.1
nv-one-logger-pytorch-lightning-integration==2.3.1
nv-one-logger-training-telemetry==2.3.1
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cccl==13.0.85
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime==13.0.96
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.7.1
nvidia-ml-py==12.575.51
nvidia-modelopt==0.37.0
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink==13.0.88
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.4.127
nvidia-nvvm==13.0.88
nvidia-resiliency-ext==0.4.1
nvtx==0.2.13
oauthlib==3.3.1
omegaconf==2.3.0
onnx==1.16.0
onnxruntime==1.16.0
onnxruntime-cann==1.23.2
op_compile_tool==0.1.0
op_gen==0.1
op_test_frame==0.1
opc_tool==0.1.0
open-clip-torch==2.24.0
openai==1.95.0
openai-whisper==20231117
OpenCC==1.1.9
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-exporter-otlp-proto-http==1.34.1
opentelemetry-exporter-prometheus==0.55b1
opentelemetry-proto==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
opentelemetry-semantic-conventions-ai==0.4.10
optuna==4.5.0
orjson==3.11.0
oss2==2.19.1
outlines==0.1.11
outlines_core==0.1.26
overrides==7.7.0
packaging==24.1
pandas==1.5.3
pangu==4.0.6.1
parameterized==0.9.0
paramiko==4.0.0
parso==0.8.4
partial-json-parser==0.2.1.1.post6
pathlib2==2.3.7.post1
pathspec==0.12.1
peft==0.16.0
pesq==0.0.4
pexpect==4.9.0
pfzy==0.3.4
pillow==10.4.0
pip==25.1.1
platformdirs==4.3.8
plotly==6.2.0
pluggy==1.6.0
pooch==1.8.2
portalocker==2.10.1
posix_ipc==1.2.0
prettytable==3.11.0
primePy==1.3
priority==2.0.0
progress==1.6.1
prometheus_client==0.22.1
prometheus-fastapi-instrumentator==7.0.0
prompt_toolkit==3.0.51
propcache==0.3.2
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.1.3
ptyprocess==0.7.0
PuLP==3.3.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py-spy==0.4.0
pyannote.audio==3.3.1
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==19.0.0
pyarrow-hotfix==0.7
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybind11==3.0.0
pybtex==0.25.1
pybtex-docutils==1.0.3
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.12.4
pydantic_core==2.41.5
pydub==0.25.1
pyext==0.5
Pygments==2.19.2
pylatexenc==2.10
pyloudnorm==0.1.1
PyNaCl==1.6.0
pynini==2.1.6.post1
pynvml==12.0.0
pyparsing==3.1.4
pypinyin==0.55.0
pypinyin-dict==0.9.0
pyre-extensions==0.0.32
PySocks==1.7.1
pystoi==0.4.1
pytest==8.4.1
pytest_httpserver==1.1.3
pytest-mock==3.14.1
pytest-runner==6.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==3.3.0
python-Levenshtein==0.27.1
python-multipart==0.0.20
python-rapidjson==1.20
pytorch-lightning==2.5.2
pytorch-metric-learning==2.5.0
pytz==2024.2
pyworld==0.3.5
PyYAML==6.0.2
pyzmq==27.0.0
Quart==0.20.0
qwen-vl-utils==0.0.11
rank-bm25==0.2.2
RapidFuzz==3.10.0
ray==2.48.0
referencing==0.36.2
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
resampy==0.4.3
retrying==1.4.0
rich==13.7.1
rich-toolkit==0.14.8
rignore==0.5.1
rotary-embedding-torch==0.8.9
rouge==1.0.1
rouge-chinese==1.0.3
rouge_score==0.1.2
rpds-py==0.26.0
rsa==4.9.1
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
ruff==0.12.4
s3fs==0.4.2
s3transfer==0.14.0
sacrebleu==2.4.3
sacremoses==0.1.1
safetensors==0.4.5
schedule_search==0.0.1
scikit-learn==1.5.0
scipy==1.14.1
seaborn==0.13.2
semantic-version==2.10.0
semver==3.0.4
sentence-transformers==5.1.2
sentencepiece==0.2.0
sentry-sdk==2.32.0
setuptools==79.0.1
setuptools-scm==8.3.1
shellingham==1.5.4
show_kernel_debug_data==0.1.0
siirl==0.0.1
simplejson==3.20.1
six==1.16.0
smart_open==7.3.0.post1
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==3.0.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.7
sox==1.5.0
soxr==0.5.0.post1
speechbrain==1.0.3
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-bibtex==2.6.5
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.44
stack-data==0.6.3
starlette==0.37.2
StrEnum==0.4.15
sympy==1.13.1
tabulate==0.9.0
taming-transformers==0.0.1
taskgroup==0.2.2
te==0.4.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
tensordict==0.6.2
tensorstore==0.1.71
termcolor==2.4.0
text-generation==0.7.0
text-unidecode==1.3
textdistance==4.6.3
thefuzz==0.22.1
threadpoolctl==3.6.0
tiktoken==0.7.0
timeout-decorator==0.5.0
timm==1.0.17
tokenizers==0.22.1
toml==0.10.2
tomli==2.2.1
tomlkit==0.12.0
toolz==1.1.0
torch==2.5.1
torch-audiomentations==0.12.0
torch-npu==2.5.1.post4.dev20250905
torch_pitch_shift==1.2.5
torchaudio==2.5.1
torchdata==0.11.0
torchdiffeq==0.2.5
torchinfo==1.8.0
torchmetrics==1.8.2
torchprofile==0.0.4
torchsde==0.2.6
torchvision==0.20.1
torchx==0.7.0
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
trampoline==0.1.2
transformers==4.56.2
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
trimesh==4.9.0
triton==3.1.0
tritonclient==2.49.0
typeguard==4.4.4
typer==0.16.0
typing_extensions==4.14.1
typing-inspect==0.9.0
typing-inspection==0.4.2
tzdata==2024.2
ujson==5.10.0
urllib3==1.26.20
uvicorn==0.30.0
uvloop==0.21.0
virtualenv==20.32.0
wandb==0.21.0
watchdog==6.0.0
watchfiles==1.1.0
wcmatch==10.1
wcwidth==0.2.13
webdataset==1.0.2
websockets==11.0.3
Werkzeug==3.1.3
WeTextProcessing==1.0.4.1
wget==3.2
wheel==0.45.1
whisper_normalizer==0.1.12
wrapt==1.17.2
wsproto==1.2.0
xattr==1.3.0
xgrammar==0.1.19
xxhash==3.5.0
yamlargparse==1.31.1
yapf==0.43.0
yarl==1.20.1
zarr==2.18.3
zipp==3.23.0
zope.event==5.0
zope.interface==7.0.3
